@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: honey;
  src: url(../HoneyFlorist.ttf); }

@font-face {
  font-family: museo;
  src: url(../Museo300.ttf); }

@keyframes ani1° {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.03); }
  30% {
    ransform: scale(1.05); }
  40% {
    ransform: scale(1); }
  50% {
    transform: scale(1.1);
    color: #6d6d6d; }
  60% {
    ransform: scale(1); }
  70% {
    ransform: scale(1.05); }
  80% {
    transform: scale(1.03); }
  100% {
    transform: scale(1); } }

.encabezado #D-empresa, section div#formu {
  display: flex;
  justify-content: center; }

body {
  position: relative; }

/*-------------------------------------*/
.encabezado {
  width: 100%;
  height: 42rem;
  overflow: hidden;
  background-image: url("../imagenes/fondo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .encabezado nav #MH {
    color: #76d1d0;
    font-size: 15px; }
  .encabezado nav #MHI {
    color: #76d1d0; }
  .encabezado nav #CL {
    color: black;
    width: max-content; }
  .encabezado nav #CL:hover {
    background-size: 0px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url("../imagenes/acuarela.png");
    padding: 15px 30px;
    font-size: 15px;
    font-family: honey;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease-out 0.5s;
    text-shadow: black 3px 2px;
    transform: scale(1.2);
    color: white;
    background-size: contain; }
  .encabezado a.navbar-brand img {
    opacity: 0.6; }
  .encabezado #D-empresa {
    transition: ease-in-out 0.5s;
    height: 200px;
    width: 100%;
    margin-top: 10%; }
    .encabezado #D-empresa h1 {
      width: 350px;
      height: 100px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      background-image: url("../imagenes/tr.png");
      padding: 25px 30px;
      font-size: 60px;
      font-family: honey; }
    .encabezado #D-empresa h1:hover {
      transform: scale(1.2);
      transition: ease-out 0.7s;
      color: #faf8f8;
      text-shadow: black 5px 2px; }

.maxc {
  height: max-content;
  height: 50rem; }

/*-----------------------------------*/
main.mainindex div.videosbg {
  width: 100%;
  height: 23rem;
  overflow: hidden;
  position: relative; }
  main.mainindex div.videosbg video {
    width: 100%;
    min-width: 650px;
    max-width: 1050px;
    position: absolute;
    left: 05vw;
    top: -5vh;
    opacity: 80%; }

section {
  width: 100vw;
  height: max-content;
  background-image: url("../imagenes/Imagen1.png");
  background-size: 80px; }
  section div#formu {
    margin: 2px;
    border-radius: 15px; }
    section div#formu form#FC {
      background-image: linear-gradient(white, white, #76d1d0, #76d1d0);
      border: solid 0.5px;
      border-radius: 10px;
      box-shadow: rgba(80, 77, 77, 0.473) 10px 5px;
      width: 20rem;
      min-width: 280px;
      height: max-content; }
    section div#formu form#FC:hover {
      transform: scale(1.05);
      box-shadow: rgba(80, 77, 77, 0.301) 12px 7px;
      transition: ease-in-out 0.7s; }
    section div#formu div#etiqueta {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 300px; }
      section div#formu div#etiqueta h5 {
        margin-left: 40px;
        top: 15vh;
        margin: 0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        background-image: url("../imagenes/tr.png");
        padding: 20px 25px;
        font-size: 30px;
        font-family: honey;
        transition: ease-in 0.5s;
        animation-name: ani1°;
        animation-duration: 10s;
        animation-delay: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite; }
      section div#formu div#etiqueta p {
        margin-left: 40px;
        top: 30vh;
        width: 25vw;
        transition: ease-in 0.5s;
        font-family: museo;
        text-align: center; }

.cwhite {
  color: #9c9a9a; }

/*----------------------*/
footer {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#fbbdbc, white, white);
  text-align: center;
  border-radius: 15px; }
  footer .redes {
    position: fixed;
    bottom: 70px;
    right: 10px;
    color: #a1458d; }
    footer .redes .f {
      margin-right: 10px;
      padding: 20px;
      background-position: center;
      background-size: 80px;
      background-repeat: no-repeat;
      background-image: url("../imagenes/fonicof.png"); }
      footer .redes .f img {
        margin: 20px; }
    footer .redes .f:hover {
      background-size: 0px;
      transition: ease-out 0.7s;
      filter: invert(18%) sepia(30%) saturate(3448%) hue-rotate(217deg) brightness(85%) contrast(99%); }
      footer .redes .f:hover img:hover {
        width: 45px;
        transition: ease-out 0.3s;
        margin: 7px; }
    footer .redes .w {
      margin-right: 10px;
      padding: 20px;
      background-position: center;
      background-size: 80px;
      background-repeat: no-repeat;
      background-image: url("../imagenes/fonicw.png"); }
      footer .redes .w img {
        margin: 20px; }
    footer .redes .w:hover {
      background-size: 0px;
      transition: ease-out 0.7s;
      filter: invert(43%) sepia(14%) saturate(1351%) hue-rotate(71deg) brightness(109%) contrast(103%); }
      footer .redes .w:hover img:hover {
        width: 45px;
        transition: ease-out 0.3s;
        margin: 7px; }
    footer .redes .ins {
      margin-right: 10px;
      padding: 20px;
      background-position: center;
      background-size: 80px;
      background-repeat: no-repeat;
      background-image: url("../imagenes/fonicoi.png"); }
      footer .redes .ins img {
        margin: 20px; }
    footer .redes .ins:hover {
      background-size: 0px;
      transition: ease-out 0.7s;
      filter: invert(38%) sepia(13%) saturate(3731%) hue-rotate(266deg) brightness(85%) contrast(81%); }
      footer .redes .ins:hover img:hover {
        width: 45px;
        transition: ease-out 0.3s;
        margin: 7px; }
  footer .div__foot p {
    font-size: 12px; }

.sec_cont {
  background-image: none; }

/*------------------------*/
header.enc_nts {
  height: 37rem;
  background-image: url("../imagenes/colage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed; }
  header.enc_nts nav #MH {
    color: #76d1d0;
    font-size: 15px; }
  header.enc_nts nav #MHI {
    color: #76d1d0; }
  header.enc_nts nav #CL {
    color: black;
    width: max-content; }
  header.enc_nts nav #CL:hover {
    background-size: 0px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url("../imagenes/acuarela.png");
    padding: 12px 18px;
    font-size: 15px;
    font-family: honey;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease-out 0.5s;
    text-shadow: black 3px 2px;
    transform: scale(1.2);
    color: white;
    background-size: contain; }

main.main_nts section.sec_nts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background-image: linear-gradient(white, white, #f1aaaa);
  height: 562px; }
  main.main_nts section.sec_nts img {
    border-radius: 15px; }
  main.main_nts section.sec_nts h5 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url("../imagenes/tr.png");
    padding: 30px 35px;
    font-size: 80px;
    font-family: honey;
    transition: ease-in 0.5s;
    animation-name: ani1°;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
  main.main_nts section.sec_nts p {
    height: 350px;
    width: 25vw;
    min-width: 200px;
    transition: ease-in 0.5s;
    font-family: museo;
    text-align: center; }

/*--------------------------------*/
@media screen and (min-width: 0px) and (max-width: 678px) {
  div#formu {
    flex-direction: column; }
  header.enc_nts {
    background-size: 660px; } }
