@charset "UTF-8";
@import url(../Hello.ttf);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@keyframes ani1° {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.05); }
  30% {
    ransform: scale(1.08); }
  40% {
    ransform: scale(1.1); }
  50% {
    transform: scale(1.2);
    color: #ffff;
    text-shadow: black 5px 2px; }
  60% {
    ransform: scale(1.1); }
  70% {
    ransform: scale(1.08); }
  80% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.encabezado div#D-empresa, main section div#formu {
  display: flex;
  justify-content: center; }

/*variables*/
body {
  position: relative; }

.encabezado {
  width: 100%;
  height: 42rem;
  overflow: hidden;
  background-image: url("../imagenes/fondo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .encabezado nav #MH {
    color: #76d1d0;
    font-size: 15px; }
  .encabezado nav #MHI {
    color: #76d1d0; }
  .encabezado nav #CL {
    color: black;
    width: max-content; }
  .encabezado nav #CL:hover {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url("../imagenes/tr.png");
    padding: 8px 25px;
    font-size: 15px;
    font-family: hello;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease-out 0.4s;
    text-shadow: black 3px 2px;
    transform: scale(1.2);
    color: white; }
  .encabezado div#D-empresa {
    transition: ease-in-out 0.5s;
    height: 200px;
    width: 100%;
    margin-top: 10%; }
    .encabezado div#D-empresa h1 {
      width: 350px;
      height: 100px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      background-image: url("../imagenes/tr.png");
      padding: 25px 30px;
      font-size: 50px;
      font-family: hello; }
    .encabezado div#D-empresa h1:hover {
      transform: scale(1.2);
      transition: ease-out 0.7s;
      color: #faf8f8;
      text-shadow: black 5px 2px; }

main div.videosbg {
  width: 100%;
  height: 23rem;
  overflow: hidden;
  position: relative; }
  main div.videosbg video {
    width: 100%;
    min-width: 650px;
    max-width: 1050px;
    position: absolute;
    left: 07vw;
    top: -5vh;
    opacity: 80%; }

main section div#formu {
  margin: 2px;
  position: relative;
  border-radius: 15px;
  background-color: #6d6d6d;
  height: max-content; }
  main section div#formu form#FC {
    background-image: linear-gradient(white, white, #76d1d0, #76d1d0);
    border-radius: 10px;
    box-shadow: rgba(80, 77, 77, 0.473) 10px 5px;
    width: 20rem;
    height: max-content; }
    main section div#formu form#FC .mb-3 {
      height: max-content; }
  main section div#formu form#FC:hover {
    transform: scale(1.05);
    box-shadow: rgba(80, 77, 77, 0.301) 12px 7px;
    transition: ease-in-out 0.7s; }

main section #etiqueta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main section #etiqueta h5 {
    left: 10vw;
    top: 15vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url("../imagenes/tr.png");
    padding: 30px 30px;
    font-size: 30px;
    font-family: hello;
    transition: ease-in 0.5s;
    animation-name: ani1°;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
  main section #etiqueta p {
    left: 10vw;
    top: 30vh;
    width: 15vw;
    transition: ease-in 0.5s; }

footer {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#fbbdbc, white, white);
  text-align: center;
  border-radius: 15px; }
  footer .redes {
    position: fixed;
    bottom: 70px;
    right: 10px; }
    footer .redes .f {
      color: white;
      font-size: 30px;
      text-decoration: none;
      padding: 1px;
      padding-left: 10px;
      padding-right: 2px;
      background-color: #5a678b;
      border-radius: 3px;
      margin: 5px; }
    footer .redes .f:hover {
      transform: scale(1.3);
      background-color: blue;
      transition: ease-in 0.2s; }
    footer .redes .w {
      color: white;
      font-size: 25px;
      text-decoration: none;
      padding: 5px;
      background-color: #6da17b;
      border-radius: 3px;
      margin: 3px; }
    footer .redes .w:hover {
      transform: scale(1.3);
      background-color: green;
      transition: ease-in 0.2s; }
    footer .redes .ins {
      color: white;
      font-size: 25px;
      text-decoration: none;
      padding: 5px;
      background-color: #a16d67;
      border-radius: 3px;
      margin: 3px; }
    footer .redes .ins:hover {
      transform: scale(1.3);
      background-color: #a53fb3;
      transition: ease-in 0.2s; }
  footer .div__foot p {
    font-size: 12px; }

@media screen and (min-width: 0px) and (max-width: 678px) {
  main section #formu {
    flex-direction: column;
    justify-content: center;
    max-height: max-content; }
  main section div#etiqueta {
    height: max-content; }
    main section div#etiqueta h5 {
      margin-left: 20vw;
      max-width: max-content;
      justify-self: end; }
    main section div#etiqueta p {
      margin-left: 20vw;
      width: 200px;
      justify-self: end; }
  div.c_etiq {
    height: max-content; }
    div.c_etiq h5 {
      margin-left: 20vw;
      max-width: max-content;
      justify-self: end; }
    div.c_etiq p {
      margin-left: 20vw;
      width: 200px;
      justify-self: end; } }

video {
  width: 100%;
  min-width: 650px;
  max-width: 1050px;
  position: absolute;
  left: 0vw;
  top: 0vh;
  opacity: 80%; }
