@keyframes ani1° {
    0%{transform: scale(1);}
    20%{transform: scale(1.03);}
    30%{ransform: scale(1.05);}
    40%{ransform: scale(1);}
    50%{transform: scale(1.1);color: #6d6d6d;}
    60%{ransform: scale(1);}
    70%{ransform: scale(1.05);}
    80%{transform: scale(1.03);}
    100%{transform: scale(1);}
}
@mixin redes() {
            margin-right:0px;
            padding:20px 5px;
            background-position: center;
            background-size:80px;
            background-repeat: no-repeat;
            img{
                margin:20px;
            }
            
            
}
@mixin hovered (){
    background-size:0px;
    transition:ease-out 0.7s;
    img:hover{
        width: 45px;
        transition:ease-out 0.3s;
        margin: 7px;
    }
    
}
@mixin fondo () {
    background-image: url("../imagenes/fondo.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@mixin Titulos ($pad,$Tam) {
        background-size:contain;
        background-position:center;
        background-repeat:no-repeat;
        text-align: center;
        background-image:url("../imagenes/tr.png");
        padding: $pad;
        font-size: $Tam;
        font-family:$letra;
}
@mixin menu ($pad,$Tam) {
    background-size:0px;
    background-position:center;
    background-repeat:no-repeat;
    text-align: center;
    margin-right: 5px;
    background-image:url("../imagenes/acuarela.png");
    padding: $pad;
    font-size: $Tam;
    font-family:$letra;
}
@mixin subTitulos ($pad,$Tam) {
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    text-align: center;
    background-image:url("../imagenes/tr.png");
    padding: $pad;
    font-size: $Tam;
    font-family:$letra;
}
@mixin Animacion {
transition: ease-in 0.5s;
animation-name: ani1°;
animation-duration: 10s;
animation-delay: 2s;
animation-timing-function:linear;
animation-iteration-count: infinite;
}
@mixin nav-menu {
    nav{
        #MH{
            color: #76d1d0 ;
            font-size: 15px;
        }
        #MHI{
            color: #76d1d0 ;
        }
        #CL{
            color:black;
            width: max-content;
            margin-right:25px;
        }
        #CL:hover{
            @include menu(15px 30px,15px );
            font-family:Arial, Helvetica, sans-serif;
            transition:ease-out 0.5s;
            text-shadow: black 3px 2px;
            transform: scale(1.2);
            color: white;
            background-size: contain;
        }
    }
}
@mixin transform ($scl,$Time) {
    transform: scale($scl);
    transition: ease-out $Time;
}